<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moringa Test
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
</title>
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="box">
        <img src="user.png" alt="" class="avatar">
        <form name="registerform" novalidate autocomplete="off">
            <h1 ng-show="showlogin">Login</h1>
            <h1 ng-show="showregister">Register</h1>
            <div class="textfield">
                <i class="fa fa-user icon"></i>
                <input type="text" class="textfield-input" name="username" ng-model="username" required>
                <label>Username</label>
                <div class="indicator"></div>
                <div>
                    <span class="error" ng-show="signupform.$submitted || signupform.username.$dirty"><i class="fa fa-excalmation-circle"></i>
                        <span class="error" ng-show="signupform.username.$error.required"><i class="fa fa-excalmation-circle"></i>Username is Required</span>
                    </span><br>
                </div>
            </div>
            <div class="textfield">
                <i class="fa fa-key icon"></i>
                <input type="password" class="textfield-input" name="password" ng-model="password" required>
                <label>Password</label>
                <div class="indicator"></div>
                <div>
                    <span class="error" ng-show="signupform.$submitted || signupform.password.$dirty"><i class="fa fa-excalmation-circle"></i>
                        <span class="error" ng-show="signupform.password.$error.required"><i class="fa fa-excalmation-circle"></i>Password is Required</span>
                    </span><br>
                </div>
            </div>
            <div class="textfield">
                <i class="fa fa-check icon"></i>
                <input type="password" class="textfield-input" name="cpassword" ng-model="cpassword" required>
                <label>Confirm Password</label>
                <div class="indicator"></div>
                <div>
                    <span class="error" ng-show="signupform.cpassword.$dirty && !(signupform.cpassword.$error.required)"><i class="fa fa-excalmation-circle"></i>
                        <span class="error" ng-show="password != cpassword"><i class="fa fa-excalmation-circle"></i>Passwords don't match</span>
                    </span>
                    <span class="error" ng-show="signupform.$submitted || signupform.cpassword.$dirty"><i class="fa fa-excalmation-circle"></i>
                        <span class="error" ng-show="signupform.cpassword.$error.required"><i class="fa fa-excalmation-circle"></i>Confirm Password is Required</span>
                    </span>
                </div>
            </div><br>
            <div class="logindiv">
                <button type="submit" name="submit" class="loginbtn" ng-click="login()">
                    <span class="lspan"></span>
                    <span class="lspan"></span>
                    <span class="lspan"></span>
                    <span class="lspan"></span>
                    {{btnName}}
                </button>
            </div>
            <p class="account" ng-show="showregister">Already have an account? <span> <a ng-click="loginpage()">Login</a> </span> </p>
            <p class="account" ng-show="showlogin">Don't have an account? <span> <a ng-click="registerpage()">Register</a> </span> </p>
        </form>
    </div>
</body>
<script>
    var app = angular.module("myApp", []);
    app.controller("myController", function($scope, $http, $window){
        $scope.btnName = "login";
        $scope.showregister = false;
        $scope.showlogin = true;
        $scope.registerpage = function(){
            $scope.showregister = $scope.showregister ? false : true;
            $scope.showlogin = false;
            $scope.btnName = "Register";
            $scope.registerform.$setPristine();
            $scope.username = null;
            $scope.password = null;
        }
        $scope.loginpage = function(){
            $scope.showlogin = $scope.showlogin ? false : true;
            $scope.showlogin = false;
            $scope.btnName = "Login";
            $scope.registerform.$setPristine();
            $scope.username = null;
            $scope.password = null;
        }
        $scope.login = function(){
            if($scope.btnName == "Register"){
                if($scope.username != null && $scope.password != null && $scope.cpassword != null){
                    $scope.postf();
                }
            }
            else if($scope.btnName == "Login"){
                if($scope.username != null && $scope.password != null){
                    $scope.postf();
                }
            }
        }
        $scope.postf = function(){
            $http.post(
                "login.php", {
                    'username' : $scope.username,
                    'password' : $scope.password,
                    'btnName' : $scope.btnName
                }
            ).success(function(data){
                alert(data);
                if(data == "Username already exists."){
                    return;
                }
                $window.location.reload();
                if(data == "Login Successful"){
                    location = 'profile.html';
                }
            })
        }
    });
</script>
</html>